.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todoList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  padding: 25px;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 300px;
  text-align: left;
}

.todoInput {
  display: flex;
  width: 93%;
  margin: 5px;
}

.todoTextInput {
  font-size: 14px;
  padding: 10px;
  width: 80%;
}

.checkTodo:hover {
  cursor: pointer;
  color: gray;
}


.removeTodo {
  color: red;
}

.removeTodo:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}
